In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load the dataset
from sklearn.datasets import load_boston

In [4]:
df1 = load_boston()

In [5]:
# The boston variable itself is a dictionary, so you can check for its keys using the .keys() method.
df1.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [6]:
# colomn names are : "dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])"

In [7]:
print(df1.data.shape)

(506, 13)

In [8]:
print(df1.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [9]:
# making dataframe

df = pd.DataFrame(df1.data)
df.columns = df1.feature_names

In [10]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
dtype: object

In [12]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [13]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error

In [14]:
X = df.iloc[:,: -1]

In [15]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90
...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90

In [16]:
y = df.iloc[:,-1]

In [17]:
y

0      4.98
1      9.14
2      4.03
3      2.94
4      5.33
       ...
501    9.67
502    9.08
503    5.64
504    6.48
505    7.88
Name: LSTAT, Length: 506, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.20, random_state=42)

# AdaBoost

In [20]:
Ada_reg = AdaBoostRegressor(base_estimator=None,
                            n_estimators=50,    
                            learning_rate=1.0,    
                            loss='linear',    
                            random_state=10)

In [21]:
Ada_reg.fit(X_train,y_train)

AdaBoostRegressor(random_state=10)

In [22]:
y_pred = Ada_reg.predict(X_test)

In [23]:
mse = mean_squared_error(y_pred,y_test)

In [24]:
mse

17.18053526235863

In [25]:
rmse = np.sqrt(mean_squared_error(y_pred,y_test))

In [26]:
print("RMSE : ", rmse)

RMSE :  4.1449409238683526

# Gradient Boosting

In [27]:
from sklearn.ensemble import GradientBoostingRegressor

In [52]:
gbr = GradientBoostingRegressor(loss='squared_error',     
                                learning_rate=0.5,     
                                n_estimators=10,     
                                criterion='friedman_mse',
                                max_depth=3)

In [53]:
gbr.fit(X_train,y_train)

GradientBoostingRegressor(learning_rate=0.5, n_estimators=10)

In [54]:
y_pred_gbr = gbr.predict(X_test)

In [55]:
rmse_gbr = np.sqrt(mean_squared_error(y_pred_gbr,y_test))

In [56]:
print("RSME :", rmse_gbr)

RSME : 3.7103550024327046

# XGBoost

In [33]:
! pip install xgboost

Requirement already satisfied: xgboost in c:\users\siddh\anaconda3\anaconda\lib\site-packages (1.6.1)
Requirement already satisfied: numpy in c:\users\siddh\anaconda3\anaconda\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\users\siddh\anaconda3\anaconda\lib\site-packages (from xgboost) (1.7.3)

In [34]:
from xgboost import XGBRegressor

In [35]:
xg_reg = XGBRegressor(objective = 'reg:linear', 
                      colsample_bytree = 0.3, 
                      learning_rate = 1.0, 
                      max_depth = 5, 
                      alpha = 10,     
                      n_estimators = 10 )

In [36]:
xg_reg.fit(X_train,y_train)

[23:24:24] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.3,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=1.0, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=5, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=10, n_jobs=0,
             num_parallel_tree=1, objective='reg:linear', predictor='auto',
             random_state=0, ...)

In [37]:
y_pred_xg = xg_reg.predict(X_test)

In [38]:
rmse_xg = np.sqrt(mean_squared_error(y_pred_xg,y_test))

In [39]:
print("RMSE : ", rmse_xg)

RMSE :  4.5060412798897405

# Comparing with Linear Regression Model

In [40]:
from sklearn.linear_model import LinearRegression

In [41]:
lr = LinearRegression()

In [42]:
rmse = np.sqrt(mean_squared_error(y_pred,y_test))

In [43]:
lr.fit(X_train,y_train)

LinearRegression()

In [44]:
y_pred_lr = lr.predict(X_test)

In [45]:
rmse_lr =  np.sqrt(mean_squared_error(y_pred_lr,y_test))

In [46]:
print("RMSE : ", rmse_lr)

RMSE :  3.984660472595463