# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

# Import Dataset

In [3]:
df = pd.read_csv("Social_Network_Ads.csv")

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [6]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [7]:
X = df[['Age', 'EstimatedSalary']]

In [8]:
y = df['Purchased']

# Data split

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size = 0.80, test_size = 0.20, random_state= 42)

# Feature Scalling

In [11]:
from sklearn.preprocessing import StandardScaler
SC = StandardScaler()

In [12]:
X_train = SC.fit_transform(X_train)
X_test = SC.transform(X_test)

# Training the Random Forest Classification model on the Training set

In [13]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

In [14]:
RFC = RandomForestClassifier(n_estimators=10, criterion='gini', random_state=10)

In [15]:
RFC.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10, random_state=10)

# Predict

In [16]:
y_pred = RFC.predict(X_test)

In [17]:
y_pred

array([1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0], dtype=int64)

# Classification Matrix

In [18]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score

## 1. Accuracy Score

In [19]:
print("Accuracy Score is : ", accuracy_score(y_test,y_pred)*100)

Accuracy Score is :  87.5

## 2. Confusion Matrix

In [20]:
print("Cofusion Matrics : ", confusion_matrix(y_test,y_pred))

Cofusion Matrics :  [[46  6]
 [ 4 24]]

## 3. Precision

In [21]:
print("Precision is : ", precision_score(y_test,y_pred)*100)

Precision is :  80.0

## 4. Recall

In [22]:
print("Recall is : ", recall_score(y_test,y_pred)*100)

Recall is :  85.71428571428571

## Conclusion

- above all metrics Accuracy score is higher than all, so i go with Accuracy Score.

# Bagging

In [29]:
from sklearn.ensemble import BaggingClassifier, #BaggingRegressor
from sklearn.svm import SVC, SVR

In [30]:
svc=SVC()

In [42]:
Bag = BaggingClassifier(SVC(kernel='rbf', degree=3, C=1.0))

In [43]:
Bag.fit(X_train, y_train)

BaggingClassifier(base_estimator=SVC())

In [44]:
Bag.score(X_test, y_test)*100

93.75