# Adaboost

In [38]:
import pandas as pd
import numpy as np

In [39]:
from warnings import filterwarnings 
filterwarnings('ignore')

In [40]:
# load the dataset
from sklearn.datasets import load_boston

In [44]:
df = load_boston()

In [45]:
# the boston variable itself is a dictionary, so you can check for its keys using the .keys() method.
# keys are column names
df.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [49]:
df.data

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [50]:
df.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [73]:
# making data frame
df = pd.DataFrame(df.data)
df.columns = df.feature_names

AttributeError: 'DataFrame' object has no attribute 'data'

In [56]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [59]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [74]:
#!pip install xgboost

In [60]:
from xgboost import XGBRegressor

In [32]:
from sklearn.ensemble import AdaBoostRegressor  #AdaBoostclassifire---> for classification problem
from sklearn.metrics import mean_squared_error

In [66]:
X = df.iloc[:,:-1]

In [67]:
y = df.iloc[:,-1]

In [61]:
from sklearn.model_selection import train_test_split

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.20, random_state=42)

In [ ]:
#from sklearn.metrics import mean_squared_error

In [14]:
Ada_reg.fit(x_train,y_train)

NameError: name 'Ada_reg' is not defined

In [15]:
y_pred = Ada_teg.predict(x_test)

NameError: name 'Ada_teg' is not defined

# comparing with linear regression model

In [17]:
from sklearn.liear_model import linearRegressio

ModuleNotFoundError: No module named 'sklearn.liear_model'

In [18]:
Ir = LinearRegression()

NameError: name 'LinearRegression' is not defined

In [19]:
Ir.fit(x_train,y_train)

NameError: name 'Ir' is not defined

In [20]:
y_pred_Ir.predict(x_test)

NameError: name 'y_pred_Ir' is not defined

In [21]:
rmse_Ir = np.sqrt(mean_squared_error(y_test,y_pred_Ir))
print("RMSE: %f" % (rmse_Ir))

NameError: name 'mean_squared_error' is not defined

# Gradient boosting

In [23]:
from sklearn.ensemble import GradientBoostingRegressor

In [24]:
gbr = GradientBoostingRegressor(n_estimeators=100)

TypeError: __init__() got an unexpected keyword argument 'n_estimeators'

In [25]:
gbr.fit(x_train,y_train)

NameError: name 'gbr' is not defined

In [26]:
y_pred_gbr = gbr.predict(x_test)

NameError: name 'gbr' is not defined

In [ ]:
rmse_gbr = np.sqrt(mean_squared_error(y_test,y_pred_gbr))
print("RMSE: %f" % (rmse_gbr))