In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('churn_data.csv')

In [3]:
df.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
df[df["TotalCharges"] == " "]

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,0,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,3115-CZMZD,0,Yes,Two year,No,Mailed check,20.25,,No
936,5709-LVOEQ,0,Yes,Two year,No,Mailed check,80.85,,No
1082,4367-NUYAO,0,Yes,Two year,No,Mailed check,25.75,,No
1340,1371-DWPAZ,0,No,Two year,No,Credit card (automatic),56.05,,No
3331,7644-OMVMY,0,Yes,Two year,No,Mailed check,19.85,,No
3826,3213-VVOLG,0,Yes,Two year,No,Mailed check,25.35,,No
4380,2520-SGTTA,0,Yes,Two year,No,Mailed check,20.00,,No
5218,2923-ARZLG,0,Yes,One year,Yes,Mailed check,19.70,,No
6670,4075-WKNIU,0,Yes,Two year,No,Mailed check,73.35,,No
6754,2775-SEFEE,0,Yes,Two year,Yes,Bank transfer (automatic),61.90,,No

In [5]:
df.isnull().sum()

customerID          0
tenure              0
PhoneService        0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [6]:
df.dtypes

customerID           object
tenure                int64
PhoneService         object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [31]:
num = list(df.select_dtypes(include=['int64', 'float64']).keys())

cat = list(df.select_dtypes(include='O').keys())

In [32]:
num

['tenure', 'PhoneService', 'PaperlessBilling', 'MonthlyCharges']

In [33]:
cat

['customerID', 'Contract', 'PaymentMethod', 'TotalCharges']

In [ ]:
for i in cat:
    print(df[i].value_counts())
df.