In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = [['Milk','Tea','Ghee','Biscuits','Chocolates'],
           ['Tea','Waffers','Cookies', 'Rice', 'Wheat', 'Salt', 'Chilly'],
           ['Oil', 'Tea', 'Sugar', 'Salt', 'Biscuits', 'Ghee'],
           ['Milk', 'Tea','Chocolates','Biscuits','Rice'],
           ['Tea', 'Ghee', 'Cookies'],
           ['Waffers','Biscuits','Tea', 'Milk', 'Sugar']]

In [3]:
dataset

[['Milk', 'Tea', 'Ghee', 'Biscuits', 'Chocolates'],
 ['Tea', 'Waffers', 'Cookies', 'Rice', 'Wheat', 'Salt', 'Chilly'],
 ['Oil', 'Tea', 'Sugar', 'Salt', 'Biscuits', 'Ghee'],
 ['Milk', 'Tea', 'Chocolates', 'Biscuits', 'Rice'],
 ['Tea', 'Ghee', 'Cookies'],
 ['Waffers', 'Biscuits', 'Tea', 'Milk', 'Sugar']]

In [4]:
#! pip install mlxtend

In [5]:
from mlxtend.preprocessing import TransactionEncoder

In [6]:
te = TransactionEncoder()

In [7]:
data = te.fit_transform(dataset)
unique_items = te.columns_

In [8]:
te.columns_mapping_

{'Biscuits': 0,
 'Chilly': 1,
 'Chocolates': 2,
 'Cookies': 3,
 'Ghee': 4,
 'Milk': 5,
 'Oil': 6,
 'Rice': 7,
 'Salt': 8,
 'Sugar': 9,
 'Tea': 10,
 'Waffers': 11,
 'Wheat': 12}

In [9]:
print(data)

[[ True False  True False  True  True False False False False  True False
  False]
 [False  True False  True False False False  True  True False  True  True
   True]
 [ True False False False  True False  True False  True  True  True False
  False]
 [ True False  True False False  True False  True False False  True False
  False]
 [False False False  True  True False False False False False  True False
  False]
 [ True False False False False  True False False False  True  True  True
  False]]

In [10]:
print(unique_items)

['Biscuits', 'Chilly', 'Chocolates', 'Cookies', 'Ghee', 'Milk', 'Oil', 'Rice', 'Salt', 'Sugar', 'Tea', 'Waffers', 'Wheat']

In [11]:
df = pd.DataFrame(data, columns=unique_items)

In [12]:
df

,Biscuits,Chilly,Chocolates,Cookies,Ghee,Milk,Oil,Rice,Salt,Sugar,Tea,Waffers,Wheat
0,True,False,True,False,True,True,False,False,False,False,True,False,False
1,False,True,False,True,False,False,False,True,True,False,True,True,True
2,True,False,False,False,True,False,True,False,True,True,True,False,False
3,True,False,True,False,False,True,False,True,False,False,True,False,False
4,False,False,False,True,True,False,False,False,False,False,True,False,False
5,True,False,False,False,False,True,False,False,False,True,True,True,False

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Biscuits    6 non-null      bool
 1   Chilly      6 non-null      bool
 2   Chocolates  6 non-null      bool
 3   Cookies     6 non-null      bool
 4   Ghee        6 non-null      bool
 5   Milk        6 non-null      bool
 6   Oil         6 non-null      bool
 7   Rice        6 non-null      bool
 8   Salt        6 non-null      bool
 9   Sugar       6 non-null      bool
 10  Tea         6 non-null      bool
 11  Waffers     6 non-null      bool
 12  Wheat       6 non-null      bool
dtypes: bool(13)
memory usage: 206.0 bytes

## Training the Apriori model

In [14]:
from mlxtend.frequent_patterns import apriori

In [28]:
rules = apriori(df, min_support = 0.5)

In [29]:
print(rules)

    support    itemsets
0  0.666667         (0)
1  0.500000         (4)
2  0.500000         (5)
3  1.000000        (10)
4  0.500000      (0, 5)
5  0.666667     (0, 10)
6  0.500000     (10, 4)
7  0.500000     (10, 5)
8  0.500000  (0, 10, 5)

In [30]:
frequent_itemset = apriori(df, min_support=0.5, use_colnames = True)

In [31]:
frequent_itemset

    support               itemsets
0  0.666667             (Biscuits)
1  0.500000                 (Ghee)
2  0.500000                 (Milk)
3  1.000000                  (Tea)
4  0.500000       (Milk, Biscuits)
5  0.666667        (Biscuits, Tea)
6  0.500000            (Ghee, Tea)
7  0.500000            (Milk, Tea)
8  0.500000  (Milk, Biscuits, Tea)

In [32]:
frequent_itemset['length'] = frequent_itemset['itemsets'].apply(lambda x: len(x))

In [33]:
frequent_itemset

    support               itemsets  length
0  0.666667             (Biscuits)       1
1  0.500000                 (Ghee)       1
2  0.500000                 (Milk)       1
3  1.000000                  (Tea)       1
4  0.500000       (Milk, Biscuits)       2
5  0.666667        (Biscuits, Tea)       2
6  0.500000            (Ghee, Tea)       2
7  0.500000            (Milk, Tea)       2
8  0.500000  (Milk, Biscuits, Tea)       3

In [34]:
(frequent_itemset['length'] == 2) & (frequent_itemset['support']>= 0.5)

0    False
1    False
2    False
3    False
4     True
5     True
6     True
7     True
8    False
dtype: bool

In [35]:
frequent_itemset[(frequent_itemset['length'] == 2) & (frequent_itemset['support'] >= 0.5)]

    support          itemsets  length
4  0.500000  (Milk, Biscuits)       2
5  0.666667   (Biscuits, Tea)       2
6  0.500000       (Ghee, Tea)       2
7  0.500000       (Milk, Tea)       2

In [37]:
frequent_itemset[(frequent_itemset['support'] >= 0.6)]

    support         itemsets  length
0  0.666667       (Biscuits)       1
3  1.000000            (Tea)       1
5  0.666667  (Biscuits, Tea)       2

In [38]:
frequent_itemset[frequent_itemset['itemsets'] == {'Milk', 'Biscuits'}]

   support          itemsets  length
4      0.5  (Milk, Biscuits)       2

In [39]:
frequent_itemset[frequent_itemset['itemsets'] == {'Biscuits','Milk'}]

   support          itemsets  length
4      0.5  (Milk, Biscuits)       2

In [40]:
frequent_itemset[frequent_itemset['itemsets'] == frozenset(('Biscuits','Milk' ))]

   support          itemsets  length
4      0.5  (Milk, Biscuits)       2

In [41]:
frequent_itemset[frequent_itemset['itemsets'] == frozenset(('Milk', 'Biscuits'))]

   support          itemsets  length
4      0.5  (Milk, Biscuits)       2