# Encoding the Categorical Variable

In [1]:
import numpy as np
import pandas as pd

data --- categorical
nominal
ordinal : has some intrinsic

## Nominal

In [2]:
## creating initial dataframe
gender = ['male', 'female', 'female', 'female', 'female', 'male', 'male',]
df = pd.DataFrame(gender, columns = ['Gender'])

In [3]:
df

   Gender
0    male
1  female
2  female
3  female
4  female
5    male
6    male

## Binary Label

In [4]:
df['Gender'] = df['Gender'].map({'male' : 1, 'female' : 0 })

In [5]:
df

   Gender
0       1
1       0
2       0
3       0
4       0
5       1
6       1

In [6]:
## df['Gender'] = df['Gender'].map({'male' : 1, 'female' : 0})

In [7]:
## df.drop(['Gender'], axis = 1, inplace = True) --->drop column Gender

## Multiple Label

In [8]:
marital_status = ['married', 'married', 'unmarried', 'divorced', 'unmarried', 'married', 'divorced']

In [9]:
df['Marital_Status'] = marital_status

In [10]:
df

   Gender Marital_Status
0       1        married
1       0        married
2       0      unmarried
3       0       divorced
4       0      unmarried
5       1        married
6       1       divorced

In [11]:
df1 = pd.get_dummies(df['Marital_Status'])

In [12]:
df1

   divorced  married  unmarried
0         0        1          0
1         0        1          0
2         0        0          1
3         1        0          0
4         0        0          1
5         0        1          0
6         1        0          0

In [13]:
df1 = pd.get_dummies(df['Marital_Status'], drop_first = True)

In [14]:
df1

   married  unmarried
0        1          0
1        1          0
2        0          1
3        0          0
4        0          1
5        1          0
6        0          0

In [15]:
df = pd.concat([df, df1], axis = 1)

In [16]:
#df['Marital_Status'] = df['Marital_Status'].map({'married' : 1, 'unmarried' : 0, 'divorced' : 0.0})

In [17]:
#df

In [18]:
df.drop(['Marital_Status'], axis = 1, inplace = True)

In [19]:
df

   Gender  married  unmarried
0       1        1          0
1       0        1          0
2       0        0          1
3       0        0          0
4       0        0          1
5       1        1          0
6       1        0          0

In [20]:
gen = pd.get_dummies(df['Marital_Status'], drop_first = True)
gen

KeyError: 'Marital_Status'

## Ordinal

In [21]:
df2 = pd.DataFrame()

In [22]:
df2['Grades'] = ['A' ,'B', 'C', 'A', 'A', 'C', 'B', 'C', 'A', 'C']

In [23]:
df2

  Grades
0      A
1      B
2      C
3      A
4      A
5      C
6      B
7      C
8      A
9      C

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
lb = LabelEncoder()

In [26]:
lb = lb.fit_transform(df2['Grades'])

In [27]:
lb

array([0, 1, 2, 0, 0, 2, 1, 2, 0, 2])

In [28]:
df2['Grades_encoded'] = lb

In [29]:
df2

  Grades  Grades_encoded
0      A               0
1      B               1
2      C               2
3      A               0
4      A               0
5      C               2
6      B               1
7      C               2
8      A               0
9      C               2

In [30]:
## create initial dataframe
bridge_types = ('Arch', 'Beam', 'Truss', 'Cantilever', 'Tied Arch', 'Suspention', 'Cable')
bridge_df = pd.DataFrame(bridge_types, columns = ['Bridge_Types'])

In [31]:
bridge_df

  Bridge_Types
0         Arch
1         Beam
2        Truss
3   Cantilever
4    Tied Arch
5   Suspention
6        Cable

In [33]:
## ordinal
from sklearn.preprocessing import LabelEncoder

In [34]:
## creating instance of Labelencoder
labelencoder = LabelEncoder()

In [37]:
## Assigning numerical values and storing in another column
bridge_df['Bridge_Types_Cat'] = labelencoder.fit_transform(bridge_df['Bridge_Types'])

In [38]:
bridge_df

  Bridge_Types  Bridge_Types_Cat
0         Arch                 0
1         Beam                 1
2        Truss                 6
3   Cantilever                 3
4    Tied Arch                 5
5   Suspention                 4
6        Cable                 2

# Scaling