In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('Housing.csv')

In [4]:
## List of Variables to map
varlist = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'prefarea']
 
##Defining the map function

def binary_map(x):
    return x.map({'yes' : 1, 'no' : 0})

##Applying the function to the housing list

df[varlist] = df[varlist].apply(binary_map)

In [5]:
## Get the dummy variables for the featur 'furnishingstatus' and store it in a new variable - 'status'
status = pd.get_dummies(df['furnishingstatus'])

In [6]:
## Let's drop the first column from status df using 'drop_first = True'
status = pd.get_dummies(df['furnishingstatus'], drop_first = True)

In [7]:
df = pd.concat([df, status], axis = 1)

In [8]:
# Drop 'furnishingstatus' as we habe created the dummies for it
df.drop(['furnishingstatus'], axis = 1, inplace = True)

In [9]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0,0

In [10]:
y  = df.pop('price')
X= df

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.7, test_size = 0.3, random_state = 100)

In [13]:
num_vars = ['area', 'bedrooms', 'bathrooms', 'stories', 'parking']

In [14]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [15]:
scalar = MinMaxScaler()

In [16]:
X_train[num_vars] = scalar.fit_transform(X_train[num_vars])  ## scaling X_train

In [17]:
X_test[num_vars] = scalar.transform(X_test[num_vars]) ## scaling test

In [18]:
y_train = scalar.fit_transform(y_train.values.reshape(-1, 1))

In [19]:
y_test = scalar.transform(y_test.values.reshape(-1, 1))

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
lr = LinearRegression()

In [22]:
lr.fit(X_train,y_train)

LinearRegression()

In [23]:
y_pred = lr.predict(X_test)

In [25]:
y_pred

array([[0.20724668],
       [0.42521187],
       [0.34390078],
       [0.30965517],
       [0.26679159],
       [0.20081042],
       [0.54605698],
       [0.34459482],
       [0.15132084],
       [0.33824567],
       [0.10885184],
       [0.38778083],
       [0.24973636],
       [0.48168266],
       [0.34081042],
       [0.4416681 ],
       [0.55569757],
       [0.22883672],
       [0.37058649],
       [0.27048717],
       [0.21622618],
       [0.08541382],
       [0.23984756],
       [0.16672718],
       [0.08343775],
       [0.143553  ],
       [0.29819593],
       [0.41218154],
       [0.4093423 ],
       [0.28367798],
       [0.12030014],
       [0.24278338],
       [0.10898889],
       [0.08625354],
       [0.27681818],
       [0.24897191],
       [0.24859295],
       [0.13302812],
       [0.13846168],
       [0.21930575],
       [0.11751055],
       [0.36890977],
       [0.37424519],
       [0.10598081],
       [0.07806882],
       [0.2499371 ],
       [0.23687591],
       [0.28967078],
       [0.13575259],
       [0.37284403],
       [0.02055195],
       [0.41082617],
       [0.36076046],
       [0.41261061],
       [0.44744552],
       [0.28150131],
       [0.38291105],
       [0.09432758],
       [0.08317673],
       [0.20920304],
       [0.091526  ],
       [0.1740686 ],
       [0.47482841],
       [0.45060196],
       [0.09529591],
       [0.12311174],
       [0.43519528],
       [0.08439063],
       [0.06164695],
       [0.39596137],
       [0.07803973],
       [0.40667874],
       [0.19440104],
       [0.14728027],
       [0.28964017],
       [0.22101661],
       [0.43017337],
       [0.55774805],
       [0.70483516],
       [0.32319236],
       [0.54159408],
       [0.09493839],
       [0.10137079],
       [0.09090494],
       [0.29149982],
       [0.13477463],
       [0.14666078],
       [0.3465008 ],
       [0.28167449],
       [0.07462617],
       [0.22494555],
       [0.1071637 ],
       [0.13493697],
       [0.26599164],
       [0.25578205],
       [0.1170733 ],
       [0.25847717],
       [0.13179297],
       [0.39466174],
       [0.11753258],
       [0.27349791],
       [0.40816593],
       [0.37144207],
       [0.54175891],
       [0.18221448],
       [0.276552  ],
       [0.12351519],
       [0.2090798 ],
       [0.20691028],
       [0.35663471],
       [0.51282351],
       [0.3332352 ],
       [0.33173015],
       [0.23338835],
       [0.12233026],
       [0.76799036],
       [0.22161546],
       [0.29681099],
       [0.14676288],
       [0.29197204],
       [0.42983845],
       [0.14109372],
       [0.14547879],
       [0.25859297],
       [0.38005966],
       [0.27218267],
       [0.20180115],
       [0.18118404],
       [0.41615062],
       [0.41704271],
       [0.3245028 ],
       [0.13232309],
       [0.10410445],
       [0.36971139],
       [0.15357625],
       [0.39985309],
       [0.60046409],
       [0.15029678],
       [0.16437082],
       [0.41562684],
       [0.13001232],
       [0.20590131],
       [0.24971642],
       [0.31468538],
       [0.13493497],
       [0.27805312],
       [0.16309751],
       [0.38266968],
       [0.46639193],
       [0.26744588],
       [0.14701924],
       [0.46499529],
       [0.09975104],
       [0.26372816],
       [0.31332445],
       [0.21097955],
       [0.19285473],
       [0.26210569],
       [0.27703285],
       [0.27312278],
       [0.36132284],
       [0.19735923],
       [0.46620684],
       [0.45748379]])

In [24]:
y_actual = y_test

In [26]:
y_actual

array([[0.22969697],
       [0.48484848],
       [0.3030303 ],
       [0.24242424],
       [0.22787879],
       [0.25454545],
       [0.58787879],
       [0.3030303 ],
       [0.08484848],
       [0.36363636],
       [0.16666667],
       [0.42424242],
       [0.05454545],
       [0.3630303 ],
       [0.33333333],
       [0.27878788],
       [0.90606061],
       [0.22424242],
       [0.53030303],
       [0.36363636],
       [0.12060606],
       [0.19393939],
       [0.23575758],
       [0.0969697 ],
       [0.14848485],
       [0.07818182],
       [0.23636364],
       [0.38484848],
       [0.18787879],
       [0.63636364],
       [0.07878788],
       [0.15151515],
       [0.13939394],
       [0.01212121],
       [0.26666667],
       [0.21212121],
       [0.21212121],
       [0.09090909],
       [0.16666667],
       [0.19545455],
       [0.28484848],
       [0.32727273],
       [0.33333333],
       [0.03030303],
       [0.07878788],
       [0.25454545],
       [0.21212121],
       [0.07272727],
       [0.16060606],
       [0.37575758],
       [0.07393939],
       [0.34545455],
       [0.3030303 ],
       [0.57575758],
       [0.38484848],
       [0.27272727],
       [0.39393939],
       [0.14484848],
       [0.11818182],
       [0.27272727],
       [0.01212121],
       [0.15757576],
       [0.57575758],
       [0.39333333],
       [0.01818182],
       [0.15151515],
       [0.48424242],
       [0.15757576],
       [0.12121212],
       [0.33030303],
       [0.06060606],
       [0.24181818],
       [0.27333333],
       [0.06363636],
       [0.27272727],
       [0.37727273],
       [0.33333333],
       [0.53939394],
       [0.72727273],
       [0.24848485],
       [0.47272727],
       [0.04242424],
       [0.10909091],
       [0.1030303 ],
       [0.28787879],
       [0.07878788],
       [0.12727273],
       [0.49090909],
       [0.27212121],
       [0.10909091],
       [0.1030303 ],
       [0.15090909],
       [0.00606061],
       [0.18181818],
       [0.23939394],
       [0.14242424],
       [0.40606061],
       [0.15151515],
       [0.32121212],
       [0.22424242],
       [0.20333333],
       [0.46060606],
       [0.31818182],
       [0.43636364],
       [0.12121212],
       [0.2       ],
       [0.13939394],
       [0.18484848],
       [0.16363636],
       [0.5969697 ],
       [0.52727273],
       [0.40424242],
       [0.36363636],
       [0.10909091],
       [0.18181818],
       [0.90909091],
       [0.23636364],
       [0.29090909],
       [0.22242424],
       [0.21212121],
       [0.51515152],
       [0.15151515],
       [0.15151515],
       [0.35151515],
       [0.34545455],
       [0.32424242],
       [0.11515152],
       [0.12121212],
       [0.5969697 ],
       [0.22424242],
       [0.60606061],
       [0.15151515],
       [0.11515152],
       [0.30909091],
       [0.14242424],
       [0.38787879],
       [0.72727273],
       [0.18787879],
       [0.13636364],
       [0.61818182],
       [0.1030303 ],
       [0.07818182],
       [0.24848485],
       [0.12121212],
       [0.07878788],
       [0.27575758],
       [0.15151515],
       [0.16363636],
       [0.3030303 ],
       [0.48484848],
       [0.06060606],
       [0.25454545],
       [0.14545455],
       [0.26121212],
       [0.46060606],
       [0.18181818],
       [0.1630303 ],
       [0.17515152],
       [0.11515152],
       [0.14545455],
       [0.28484848],
       [0.20606061],
       [0.5       ],
       [0.49090909]])

In [28]:
train_score_lr = lr.score(X_train, y_train)
test_score_lr = lr.score(X_test, y_test)

In [36]:
print("The Train score for Linear Regresion Model is : {}".format(train_score_lr))
print("The test score for LinearRegression Model is : {}".format(test_score_lr))

The Train score for Linear Regresion Model is : 0.6814893088451202
The test score for LinearRegression Model is : 0.672958274345992

# Ridge

In [31]:
from sklearn.linear_model import Ridge

In [53]:
rid = Ridge(alpha = 0.01)

In [54]:
rid.fit(X_train,y_train)

Ridge(alpha=0.01)

In [55]:
train_score_rid = rid.score(X_train, y_train)
test_score_rid = rid.score(X_test, y_test)

In [56]:
print("The Train score for Ridge Model is : {}".format(train_score_rid))
print("The test score for Ridgr Model is : {}".format(test_score_rid))

The Train score for Ridge Model is : 0.6814892408838378
The test score for Ridgr Model is : 0.6729698819955088

# Lasso

In [43]:
from sklearn.linear_model import Lasso

In [48]:
las = Ridge(alpha = 0.01)

In [49]:
las.fit(X_train,y_train)

Ridge(alpha=0.01)

In [50]:
train_score_las = las.score(X_train, y_train)
test_score_las = las.score(X_test, y_test)

In [51]:
print("The Train score for Lasso Model is : {}".format(train_score_las))
print("The test score for Lasso Model is : {}".format(test_score_las))

The Train score for Lasso Model is : 0.6814892408838378
The test score for Lasso Model is : 0.6729698819955088